<!DOCTYPE html>
<html>
<head>
  <title>Ansible Home Page</title>
</head>
<body>
  <div>
    <h2 style="text-align: center;">
      <img alt="ansible_badge" src="//cdn2.hubspot.net/hub/330046/file-449187601-png/ansible_badge.png?t=1408046457814">
    </h2>
    <h2 style="text-align: center;">Mission Control for Ansible</h2>
    <div style="text-align: center;">Ansible Tower - the official UI and control center for Ansible - is the best way to run Ansible in your organization.</div>
    <img width="1000" title="Ansible Tower" alt="Ansible Tower" style="width:1000px;border-width:0px;border:0px;" class="hs-image-widget " src="//cdn2.hubspot.net/hub/330046/file-1209780803-png/promo_images/tower-homepage-new.png?t=1408046457814">

    <h3 style="text-align: center;">
      <span style="color: #444444;">Ansible is the simplest way to automate IT.</span>
    </h3>
    <div style="text-align: center;">
      <span style="color: #444444;">
        Over 1 Million Downloads / Over 800 contributors and 7000
        <span>★s on</span>
        <a target="_blank" href="https://github.com/ansible/ansible">
          <span style="color: #444444;">GitHub</span>
        </a>
        <span color="#444444"> </span>
      </span>
    </div>
    <div style="text-align: center;"></div>
    <div style="text-align: center;"></div>
    <div style="text-align: center;">
      <span style="color: #000000;">
        <span color="#444444">Ansible is used by great companies like...</span>
      </span>
    </div>
    <div style="text-align: center;"></div>
  </div>
</body>
</html>